:root {
  --viedoHeight: 480px;
  --viedoWidth: 640px;
}
.videoPlay{
margin: 1em 0;
padding: 0;
overflow: hidden;
position: relative;
}
.videoPlay .navBar {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1em;
}

video {
  clear: both;
  display: block;
  /* margin: 1em 0; */
  background: #000000;
  width: var(--viedoWidth);
  height: var(--viedoHeight);
  border-radius: 4px;
  /*box-shadow: 1px 1px 1px 1px;*/
  /* visibility: hidden; */
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--viedoWidth);
  height: var(--viedoHeight);
}

.camera.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}