body {
    font-family: BoingSemiBold, Helvetica, Arial, sans-serif;
    justify-content: center;
}
main{
    display: flex;
    gap: 2em;
    justify-content: space-between;
    width: fit-content;
}

h1 {
    font-size: 64px;
    color: #1A73E8;
    line-height: 1em;
    font-weight: normal;
}

P {
    margin: 0 0 1em 0;
    line-height: 1.6em;
    font-size: 18px;
}

video {
    clear: both;
    display: block;
    margin:1em 0;
    background: #000000;
    width: 640px;
    height: 480px;
}

a {
    text-decoration-line: none;
    width: fit-content;
    height: fit-content;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1967D2;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    padding: 18px;
    min-width: 8em;
    font-family: 'BoingSemiBold', Helvetica, Arial, sans-serif;
    transition: background-color 0.25s ease-out;
    border: none;
    height: 3em;
    max-width: fit-content;
}

.icon {
    border-radius: .5em;
    width: 4em;
    height: auto;
    background-color: #D2E3FC;
    text-align: center;
    font-size: .8em;
    padding: .4em;

}

.classObject {
    margin-top: 2rem;
    max-width: fit-content;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    box-sizing: border-box;

}

.classObject .header {
    border-bottom: 1px solid #dedede;
    padding: 1em;
}

.classObject .header>* {
    margin-left: 1em;
}

.classObject .body {
    padding: 1em;
}

.classObject .body>* {
    margin-top: 1em;
}
.predictions{
    width: max-content;
}
.progressBarContainer{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}
.progressBarContainer > span{
 margin-right: 1em;
}
.progessBar {
    width: 12em;
    height: 2em;
    margin: 0 .5em;
}

.progress {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: .4em;
}

.imagesCollected{
    display: flex;
    justify-content: space-between;
}
.numberOfImagesCollected{
    display: flex;
    width: 1.6em;
    height: 1.6em;
    padding: 1em;
    border-radius: 50%;
    background-color: #E8EAED;
    align-items: center;
    justify-content: center;
}