<!DOCTYPE html>
<html lang="en">

<head>
    <title>Multiple object detection using pre trained model in TensorFlow.js</title>
    <meta charset="utf-8">
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/styles/test.css" />
</head>

<body>
    <h1>Multiple object detection using pre trained model in TensorFlow.js</h1>

    <p>Wait for the model to load before clicking the button to enable the webcam - at which point it will become
        visible to use.</p>

    <section id="demos" class="invisible">

        <p>Hold some objects up close to your webcam to get a real-time classification! When ready click "enable webcam"
            below and accept access to the webcam when the browser asks (check the top left of your window)</p>

        <div id="liveView" class="camView">
            <div class="view">
                <video id="video" autoplay muted width="640" height="480"></video>
                <canvas id="myCanvas"></canvas>
            </div>
        </div>
    </section>

    <!-- Import TensorFlow.js library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js" type="text/javascript"></script>
    <!-- Load the coco-ssd model to use to recognize things in images -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
    <!-- Include MobileNet model -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@2.0.4/dist/mobilenet.min.js"></script>

    <!-- Import the page's JavaScript to do some stuff -->
    <script type="module" src="/scripts/test.js"></script>
</body>

</html>