
body {
    display: grid;
    justify-content: center;
}

main{
    display: flex;
    gap: 12em;
    justify-content: space-between;
    width: fit-content;
}
.view{
	margin: 1em 0;
    padding: 0;
	overflow: hidden;
    position: relative;
}
video{
    /* visibility: hidden;*/
    width: 640px;
    height: 480px;
} 
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--viedoWidth);
    height: var(--viedoHeight);
    }

.startSection{
    display:  flex;
    gap: 1em;
}

.enablePredictionButton, .train {
    border-radius: .5em;
    width: 4em;
    height: auto;
    background-color: #D2E3FC;
    text-align: center;
    font-size: .8em;
    padding: .4em;
}