body {
    display: flex;
    background-color: #E8EAED;
}
section{
    margin: 5rem 2em;
}

#status {
    font-size: 150%;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 8em auto;
    width: fit-content;
    margin: 3em;
    padding: 0;
}

.block1 {
    grid-area: 1 / 1 / 2 / 2;
}

.block2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-between;
}

.block3 {
    grid-area: 2 / 1 / 3 / 2;
}

.block4 {
    grid-area: 2 / 2 / 3 / 3;
    margin: 2rem 0 0 1rem;

}


.removed {
    display: none;
}