
.videoPlay .navBar{
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1em;
}

video {
  clear: both;
  display: block;
  margin:1em 0;
  background: #000000;
  width: 640px;
  height: 480px;
  border-radius: 4px;
  /*box-shadow: 1px 1px 1px 1px;*/

}
